Chitter

<% if @cheets %>
	<ul>
		<% @cheets.each do |cheet| %>
			<li><%= cheet.text %></li>
		<% end %>
	</ul>
<% end %>

<form action="/cheets" method="POST">
	<label for="text">
	<br>
	<input type="text" id="text" name="text">
	<br>
	<br>
	<input type="submit" value="Send">
</form>